---
# Main scss file
---
@charset "utf-8";

@import
  'normalize',
  'biscuit',
  'syntax';

.center-container {
  margin: auto;
  width: 100%;
  max-width: 1200px; /* optional: limit width */
}

.center-container > * {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
